@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  .primary-container {
    overflow: hidden;
    padding: 0;
    background: white;
    .logoBg {
      height: 500px;
      background-color: white;
      background: url(../assets/headerbg1.png);
      background-repeat: no-repeat;
      background-position: bottom left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo-container {
        background: url(../assets/ezgif-7-0a9bdf989224.gif) no-repeat;
        background-position: center;
        background-size: cover;
        height: 400px;
        width: 250px;
        max-width: 650px;
      }
    }
    .divition {
      padding: 20px 0;
      background: #f3f3f3;
      display: flex;
      justify-content: center;
      align-items: center;
      .header-btns {
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .btn {
          padding: 15px 30px;
          background: #fd6077;
          transition: all 0.5s ease;
          a {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            i {
              font-size: 2rem;
              margin-right: 15px;
            }
          }
        }

        .btn:hover {
          transform: scale(1.1);
        }
      }
    }
    .mainContainer {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin-bottom: 20px;
      background: white;

      .mainInfo {
        padding: 20px 20px;
        font-family: 'Poppins', sans-serif;
        font-size: clamp(1rem, 5vw, 1.5rem);
        color: white;
        background: #00b5c7;
        margin: 0;

        .info--1,
        .info--2 {
          margin: 20px;
        }

        .info--1 {
          span {
            font-weight: bolder;
            font-style: italic;
          }
        }
      }

      .mainAnimation {
        height: 400px;
        width: auto;
        background: url(../assets/69263-my-dog-and-me.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
    }
    .services {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url(../assets/mainBg.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: bottom;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 40px;

      .card {
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        border: none;
        outline: none;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
        max-width: 300px;
        height: 534px;
        background: rgb(65, 65, 65);

        .inner {
          overflow: hidden;

          img {
            transition: all 1s ease;
          }

          img:hover {
            transform: scale(1.5);
          }
        }

        .card-body {
          border-top: 2px solid rgba(20, 20, 20, 0.5);
          color: white;
          background: rgb(65, 65, 65);
          .card-title {
            text-align: center;
            margin-bottom: 20px;
          }
          .list-group {
            li {
              background: rgb(65, 65, 65);
              color: white;
              color: rgba($color: #f3f3f3, $alpha: 0.9);
              font-weight: 300;

              img {
                width: 30px;
                margin-right: 10px;
              }

              span {
                font-size: 0.8rem;
                font-weight: 100;
                font-style: italic;
                margin-left: 40px;
              }
            }
          }
        }
      }
    }
    .footerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: black;
      padding: 30px 5px;
      font-family: 'Poppins', sans-serif;

      .footerLogo {
        img {
          width: 250px;
        }
      }

      .footerData {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
      }

      .footerInfo {
        ul {
          color: white;
          li {
            padding: 10px;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;

            i {
              font-size: 2rem;
              margin-right: 10px;
              color: #fd6077;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  body {
    .primary-container {
      .logoBg {
        background-position: bottom;
      }

      .mainContainer {
        .mainAnimation {
          background-size: contain;
          background-position: bottom;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  body {
    .primary-container {
      .services {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      .mainContainer {
        flex-direction: row-reverse;

        .mainInfo {
          width: 50%;
          padding: 30px 70px;
        }

        .mainAnimation {
          width: 50%;
          height: auto;
          background-size: contain;
        }
      }

      .footerContainer {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
